<div class="inner contact">
  <!-- Form Area -->
  <div class="contact-form">
      <!-- Form -->
      <form id="contact-us" method="post" action="/import">
          <!-- Left Inputs -->
          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
              <!-- Keywords -->
              <label>What kind of recipes do you want to search for?</label>
              <input type="text" name="keywords" id="keywords" required="required" class="form" placeholder="Ingredients/Recipe names/etc." />
          </div><!-- End Left Inputs -->
          <!-- Bottom Submit -->
          <div class="relative fullwidth col-xs-12">
              <!-- Send Button -->
              <button type="submit" id="submit" name="submit" class="form-btn semibold">Search</button>
          </div><!-- End Bottom Submit -->
          <!-- Clear -->
          <div class="clear"></div>
      </form>
  </div><!-- End Contact Form Area -->
</div><!-- End Inner -->
