<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Cookbook Sinatra</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
      <link rel="stylesheet" href="application.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
      <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-sidenav a {padding:20px}
      </style>
    </head>

    <body>
      <!-- Sidenav (hidden by default) -->
      <nav class="w3-sidenav w3-card-2 w3-top w3-large w3-animate-left" style="display:none;z-index:2;width:30%;min-width:200px" id="mySidenav">
        <a href="javascript:void(0)" onclick="w3_close()"
        class="w3-closenav">Close Menu</a>
        <a data-toggle="modal" data-target="#addRecipe" href="#addRecipe" onclick="w3_close()">Add New Recipe</a>
        <a href="/delete" onclick="w3_close()">Delete Recipe</a>
        <a data-toggle="modal" data-target="#importRecipe" href="#importRecipe" onclick="w3_close()">Import Recipe From <u>jamieoliver.com</u></a>
      </nav>

      <!-- Top menu -->
      <div class="w3-top">
        <div class="w3-white w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
          <div class="w3-opennav w3-left w3-hover-text-grey" onclick="w3_open()">☰</div>
          <div class="w3-center">Cookbook Sinatra</div>
        </div>
      </div>

      <div class="container">
        <div class="page-container update_div">
          <%= yield %>
        </div>
      </div>

      <!-- Modals -->
      <div class="modal fade" id="addRecipe" tabindex="-1" role="dialog"
           aria-labelledby="addRecipeLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="form-container">
              <%= erb :new %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="importRecipe" tabindex="-1" role="dialog"
           aria-labelledby="importRecipeLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="form-container">
              <%= erb :import %>
            </div>
          </div>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      <script src="application.js"></script>

      </body>
  </html>
