<div class="inner contact">
  <!-- Form Area -->
  <div class="contact-form">
      <!-- Form -->
      <form id="contact-us" method="post" action="/new">
          <!-- Left Inputs -->
          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
              <!-- Name -->
              <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
              <!-- Time -->
              <input type="text" name="time" id="time" required="required" class="form" placeholder="Preparation Time" />
              <!-- Difficulty -->
              <input type="text" name="difficulty" id="difficulty" required="required" class="form" placeholder="Difficulty" />
              <input type="img_url" name="img_url" id="img_url" required="required" class="form" placeholder="Image URL" />
          </div><!-- End Left Inputs -->
          <!-- Bottom Submit -->
          <div class="relative fullwidth col-xs-12">
              <!-- Send Button -->
              <button type="submit" id="submit" name="submit" class="form-btn semibold">Add Recipe</button>
          </div><!-- End Bottom Submit -->
          <!-- Clear -->
          <div class="clear"></div>
      </form>
  </div><!-- End Contact Form Area -->
</div><!-- End Inner -->
